<div class="flex items-center justify-center px-4 py-12 bg-gray-50 sm:px-6 lg:px-8">
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">
        Reset password
      </h2>
    </div>
    <div class="mt-8 space-y-6">
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">
    {% for field in form  %}
        <div class="sm:col-span-3">
        <label for="{{field.name}}" class="block text-sm font-medium text-gray-700">{{field.label}}</label>
        {% if not field.errors %}
        
        <div class="mt-1">
          {{field(**{"jmb-model.defer":"form." + field.name,"jmb-on:change.defer":"is_modified=true", "id":false, "class":"shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"})}}
        </div>
        {% else %}
        <div class="relative mt-1 rounded-md shadow-sm">
          {{field(**{"jmb-on:change.defer":"form." + field.name + " =  $self.value", "id":false, "class":"block w-full pr-10 text-red-900 placeholder-red-300 border-red-300 rounded-md focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm"})}}
          <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
            <!-- Heroicon name: solid/exclamation-circle -->
            <svg class="w-5 h-5 text-red-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
          </div>
        </div>
        <p class="mt-2 text-sm text-red-600" id="{{field.name}}-error">
        {% for error in field.errors %}
          {{error}} 
        {% endfor %}
        </p>
        {% endif %}
        </div>
    {% endfor %}
      </div>

      {# <div class="flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember_me" name="remember_me" type="checkbox" class="w-4 h-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
          <label for="remember_me" class="block ml-2 text-sm text-gray-900">
            Remember me
          </label>
        </div>
      </div> #}
      <div>
        <button type="button" jmb-on:click.stop.prevent="reset_password()" class="relative flex justify-center w-full px-4 py-2 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md group hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: solid/lock-closed -->
            <svg class="w-5 h-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Reset password
        </button>
      </div>
    </div>
  </div>
</div>
